### compiled vhdl library
*.cf

### simulation outputs
*.ghw

### object files 
*.o 

### executable files 
*.exe 

### value change dump
*.vcd

### text files
*.lst 

### macOS metadata files
*.DS_Store
